#Title {
    text-align: center;
}

#root-container {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold !important;
    box-shadow: 5px 0px 18px #888888;
    background: #e2e2e2;
    margin: auto;
    max-width: 75%;
    top: 5rem;
    right: 12.5px;
    left: 12.5px;
    padding: 1rem;
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
}

#BoxTitel {
    margin-bottom: 1px;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 2px 5px 18px #888888;
    height: 68px;
    z-index: 1;
}

#titelName {
    padding-top: 12px;
    font-weight: bold !important;
    text-align: center;
}

.card-body {
    margin: 1.25rem !important;
    padding: 0 !important;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    display: inline;
}

img {
    cursor: pointer;
}

.mini-card-body {
    height: 100px;
    min-height: 100px;
}

#BigCard {
    height: 20px;
}

#cardHold {
    width: 100%;
    height: 100px;
}

#cardHold img {
    height: 100%;
    width: auto;
    max-width: 600px;
}

.pic-container {
    width: 50px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#page-content {
    flex: 1 0 auto;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #e2e2e2;
    padding: 0.5rem;
    background: #343a40;
}

#min-page-footer {
    position: fixed;
}

nav.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

dl,
ol,
ul {
    margin-top: inherit !important;
    margin-bottom: inherit !important;
}

.card-footer {
    background-color: rgb(226, 226, 226) !important;
}

* {
    box-sizing: border-box;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.Rectangl {
    width: 100%;
    height: 100vh;
    z-index: 0 !important;
    box-shadow: 2px 5px 18px #888888;
    background-color: 1B1B1B !important;
}

.UpperRec {
    background-color: aliceblue;
    width: 100%;
    height: 500px;
    z-index: 3;
    box-shadow: 2px 5px 18px #888888;
    margin-top: -10.8%;
    padding: 0;
    opacity: 0.9;
    background-color: #ffffff;
}

.Blured {
    background-color: #2f9c45;
    -webkit-filter: blur(100px);
    filter: blur(2px);
    opacity: 0.4;
    box-shadow: 2px 5px 18px black;
}

.bg-text {
    background-color: rgb(0, 100, 0);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    opacity: 0.85;
    z-index: 3;
    padding: 0;
    height: 50%;
    width: 100%;
    box-shadow: 0px 6px 10px darkgreen;
    background-color: 1B1B1B !important;
}

.submit-btn {
    width: 50%;
}

.form-control:hover {
    color: #4BB543 !important;
    border-color: #4BB543 !important;
    box-shadow: 0 0 0 0.2rem rgb(218, 222, 219) !important;
}

.form-control:focus {
    color: #4BB543 !important;
    border-color: #4BB543 !important;
    box-shadow: 0 0 0 0.2rem rgb(218, 222, 219) !important;
}

.form-header-container {
    padding: 1rem 0 2rem 0;
}

.file-drop-area.is-active {
    background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
    font-size: 12px;
    text-transform: uppercase;
}

.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.file-input:focus {
    outline: none;
}

.btn-success {
    background-color: #2f9c45;
    border-color: #2f9c45;
}

.submit-container {
    margin-top: 3rem;
}